### Repeatability

Because of the inherent randomness in ML, there are additional measures required to ensure repeatability and reproducability between training and evaluation runs.

In [20]:

import pandas as pd
import tensorflow as tf
import sklearn
from sklearn.utils import shuffle
from google.cloud import bigquery
from sklearn import datasets
import numpy as np

In [21]:
# Setting a random seed in TensorFlow
# Do this before you run training to ensure reproducible evaluation metrics
# You can use whatever value you'd like for the seed
tf.random.set_seed(2)

In [22]:
data = datasets.load_iris()

In [24]:
data1 = pd.DataFrame(data= np.c_[data['data'], data['target']],
                     columns= data['feature_names'] + ['target'])

Run the cell below multiple times, and notice that the order of the data changes each time.

In [25]:
data1 = shuffle(data1)
data1.head()

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
23                 5.1               3.3  ...               0.5     0.0
133                6.3               2.8  ...               1.5     2.0
42                 4.4               3.2  ...               0.2     0.0
104                6.5               3.0  ...               2.2     2.0
34                 4.9               3.1  ...               0.2     0.0

[5 rows x 5 columns]

Next, repeat the above but set a random seed. Note that the data order stays the same even when run multiple times.

In [27]:
data1 = shuffle(data1, random_state=2)
data1.head()

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
117                7.7               3.8  ...               2.2     2.0
104                6.5               3.0  ...               2.2     2.0
108                6.7               2.5  ...               1.8     2.0
94                 5.6               2.7  ...               1.3     1.0
148                6.2               3.4  ...               2.3     2.0

[5 rows x 5 columns]


### Data drift

It's important to analyze how data is changing over time to ensure your ML models are trained on accurate data. To demonstrate this, we'll use the same NOAA storms dataset as above with a slightly different query.

Let's look at how the number of reported storms has increased over time.

plot any data cross any period of time like in this graph 

![download (1).png]()